{% extends "base.html" %}

{% block title %}
Community Channel
{% endblock %}

{% block content %}

<h1>Welcome, {{ session['member_name'] }}!</h1>
<h2>Community Proposals</h2>
<a href="{{ url_for('submit_proposal') }}">Submit a New Proposal</a>
<ul>
    {% for proposal in proposals %}
    <li><a href="{{ url_for('proposal', id=proposal['proposal_id']) }}">{{ proposal['proposal_title'] }}</a></li>
    {% endfor %}
</ul>

{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    setUp();
    })
</script>